/*                   CSS RESET         

**********************************************************************/
* {
  margin: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}
#page-body {
  margin-top: 6.5em;
}

@media screen and (min-width: 35em) {
  #page-body {
    margin-top: 4.5em;
  }
}
@media screen and (min-width: 52em) {
  #page-body {
    margin-top: 2.5em;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Add the correct display in IE 10.
     */
[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  /* margin: 0.67em 0; */
}

mark {
  background: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
     * 1. Change the font styles in all browsers.
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/**
     * Show the overflow in IE.
     * 1. Show the overflow in Edge.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * Correct the inability to style clickable types in iOS and Safari.
     */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
     * Remove the inner border and padding in Firefox.
     */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

/**
     * 1. Add the correct box sizing in IE 10.
     * 2. Remove the padding in IE 10.
     */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
      */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/**
     * Remove the inner padding in Chrome and Safari on macOS.
     */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

/**
     * Remove the default vertical scrollbar in IE 10+.
     */
textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/******************************************************************
  TYPOGRAPHY
  ******************************************************************/
body,
button,
input,
select,
textarea {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 1.5;
}

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v141/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format("woff2");
  font-display: swap;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}
/**********************************************************************
  BASE STYLE FOR MENUS 
  *********************************************************************/

.menu-section {
  /* padding-bottom: 2em;
      margin-bottom: 2em; */
  border-bottom: 1px solid hsl(0, 0%);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #28536b;
}

.menu li .icons {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.6em 1em;
  transition: transform 0.3s ease-out;
}

.menu li .icons:hover {
  transform: scale(1.2);
}

.icons {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.6em 1em;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.icons:hover {
  transform: scale(1.2);
}

.social-menu .icons {
  width: 1em;
}

/************************************************************************
    FLEXBOX
    ************************************************************************/

.social-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/****************************************************************************
  MIXED NAV
  ***************************************************************************/
.main-nav ul {
  display: flex;
}
.nav-mixed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #28536b;
}
.logo-wrap {
  width: 12em;
  height: auto;
}
header {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
@media screen and (max-width: 30em) {
  .nav-mixed {
    justify-content: center;
  }
}
/****************   INTRO BOX    ********************************/
.intro-box {
  position: relative;
}

.divider {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
}
.hello {
  position: absolute;
  left: 60%;
  display: flex;
  flex-direction: column;
  width: 15em;
  bottom: 1em;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 20px 20px 30px;
  background-color: #fff;
  margin-bottom: 0;
}
@media screen and (max-width: 52em) {
  .hello {
    display: none;
  }
}

@media screen and (max-width: 33em) {
  .intro-box {
    margin-top: 7em;
  }
}
/*--------------------------------------------------------------
    Cards:
    --------------------------------------------------------------*/

.cards {
  max-width: 25em;
  margin: 1em;
  padding: 0;
  list-style-type: none;
}

.cards a {
  display: block;
  margin-bottom: 1em;
  text-decoration: none;
}
.caption {
  padding: 1em;
  color: black;
  font-size: 90%;
}
.caption p {
  margin-top: 0.5em;
  margin-bottom: 0;
}
.cards a:focus .caption,
.cards a:hover .caption {
  background: hsl(0, 0%, 97%);
}

.caption-title {
  margin: 0;
  font-size: 1.4em;
  line-height: 1em;
}
/*--------------------------------------------------------------
    CSS Grid layout for wider screens, when browser supports grid:
    --------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media screen and (min-width: 27em) {
    .cards {
      margin: 0 auto;
      padding: 1em;
    }
    .card {
      margin: 1em 0;
      padding: 0.5em;
      display: grid;
      grid-template-columns: 8em auto;
    }
    .cards a:focus,
    .cards a:hover {
      outline: 1px solid hsl(0, 0%, 80%);
    }
  }
  @media screen and (min-width: 60em) {
    .cards {
      max-width: none;
      margin: 1em 0;
      display: grid;
      grid-template-columns: repeat(2, 25em);
      justify-content: center;
      gap: 1em;
    }
    .card {
      margin: 0;
    }
    .double {
      grid-row: span 3;
      display: flex;
    }
    .double .card {
      display: block;
    }
  }
}

/*****************  MAIN AREA   ***************************************************/
.title p,
.title h1 {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 1.7em;
  color: #cdc7c4;
  margin-bottom: 0;
  /* margin-top: 2em; */
}
.title h1 {
  text-align: center;
  letter-spacing: 0.2em;
  color: #28536b;
  font-size: 4em;
  margin-top: 0;
  font-weight: normal;
  line-height: 1;
}

.more {
  display: inline-block;
  text-align: center;
  width: 12em;
  padding: 0.5em 1em;
  position: relative;
  left: calc(50% - 7em);
  font-size: 0.9em;
  background: #28536b;
  color: white;
  border-radius: 5px;
  border-color: transparent;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 3em;
}
.more span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: inherit;
}

.more span:nth-child(2) {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 30%;
  transition: 0.5s;
}

.more:hover span:nth-child(1) {
  padding-right: 25px;
}
.more:hover span:nth-child(2) {
  opacity: 1;
  right: 30px;
  scale: 1.5;
}

/* .more span:after {
  -webkit-font-smoothing: antialiased;
  content: url("../public/assets/folder-icon.png");
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.more:hover span {
  padding-right: 25px;
}

.more:hover span:after {
  opacity: 1;
  right: 0;
} */

/******************** ASIDE   ********************************/
.black-box {
  background: #000;
}
.divider-top {
  transform: rotateX(180deg);
  position: absolute;
  left: 0;
  top: -1em;
  width: 100%;
}
.goran {
  position: absolute;
  bottom: 3em;
  right: 3em;
  width: 10em;
}
.goran img {
  border-radius: 50%;
}
.arrow_box {
  position: absolute;
  right: 15em;
  bottom: 1em;
  width: 20em;
  font-size: 0.9em;
  padding: 0.5em;
  background: #bbb193;
  border: 4px solid #f6f0ed;
}
.arrow_box h3 {
  margin: 0;
}
.arrow_box:after,
.arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(187, 177, 147, 0);
  border-left-color: #bbb193;
  border-width: 30px;
  margin-top: -30px;
}
.arrow_box:before {
  border-color: rgba(246, 240, 237, 0);
  border-left-color: #f6f0ed;
  border-width: 36px;
  margin-top: -36px;
}
.arrow_box .more {
  width: 8em;
  margin: 0;
  margin-top: 1em;
  left: calc(50% - 5em);
}
.arrow_box p {
  margin-bottom: 0;
}
/* .arrow_box .more span:after {
  content: url("../public/assets/camera-icon-small.png");
} */
@media screen and (max-width: 38em) {
  .goran {
    position: relative;
  }
  .goran {
    left: 2em;
  }
  .arrow_box {
    left: 12em;
    right: 0;
    width: 12em;
  }
  .arrow_box:after,
  .arrow_box:before {
    left: -35%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box:after {
    left: -28%;
    border-color: rgba(187, 177, 147, 0);
    border-right-color: #bbb193;
    border-width: 30px;
    margin-top: -30px;
  }
  .arrow_box:before {
    border-color: rgba(246, 240, 237, 0);
    border-right-color: #f6f0ed;
    border-width: 36px;
    margin-top: -36px;
  }
  aside {
    overflow: hidden;
  }
}
@media screen and (max-width: 27em) {
  .goran {
    left: 0.3em;
    width: 6em;
  }
  .arrow_box {
    position: relative;
    left: 7%;
    width: 80%;
  }
  .arrow_box p {
    margin-bottom: 1em;
  }
  .arrow_box:after,
  .arrow_box:before {
    display: none;
  }
}

/******************** FOOTER  *****************************************/
.footer {
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer p {
  padding-top: 0.7em;
  font-size: 0.9em;
}
.footer-area {
  position: relative;
  bottom: 1px;
}
/*************   ABOUT    ***************************************************/
.sketch {
  float: right;
  width: 20em;
}
.sketch img {
  border-radius: 50%;
}
.about-area p {
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 1em;
  color: #8a6c66;
  margin-bottom: 0;
  margin-top: 2em;
  padding: 1em;
}

.about-area .more {
  margin-top: 2em;
}
.hey {
  letter-spacing: 0.2em;
  color: #28536b;
}
.divider-top.about {
  left: 0;
  top: calc(0% - 2px);
}
.about p {
  padding: 2em 0 1em;
  margin-top: 4em;
  margin-bottom: 0;
}

@media screen and (max-width: 32em) {
  .sketch {
    display: block;
    width: 100%;
  }
  .about-area h1 {
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

/********  ARTICLES    **************************/
.title .articles-margin {
  margin-top: 3.2em;
}

@media screen and (max-width: 33em) {
  .title .articles-margin {
    margin-top: 4.5em;
  }
  .title h1 {
    font-size: 2.7em;
  }
}
.outer-wrap aside {
  background: #bbb193;
}
.goran-articles,
.arrow-box-articles {
  position: static;
  padding: 0.5em;
}
.goran-articles img {
  border-radius: 50%;
}
.goran-articles {
  padding-top: 1.5em;
  padding-bottom: 0;
}
.outer-wrap aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.goran-articles {
  width: 50%;
}

@supports (grid-area: auto) {
  @media screen and (min-width: 40em) {
    .outer-wrap aside {
      flex-direction: row;
    }
    .goran-articles {
      flex: 1 0 25vw;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
  @media screen and (min-width: 60em) {
    .outer-wrap {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 15em);
      grid-template-areas:
        "main main"
        "sidebar sidebar"
        "footer footer";
    }
    .main-area {
      grid-area: main;
    }
    aside {
      grid-area: sidebar;
    }
    .footer-area {
      grid-area: footer;
    }
    aside h2 {
      margin-top: 2em;
    }
  }

  @media screen and (min-width: 75em) {
    .outer-wrap aside {
      display: block;
    }
    .goran-articles {
      margin-top: 3em;
      width: 10em;
      position: relative;
      left: calc(50% - 5em);
    }
    .goran-articles img {
      border-radius: 50%;
    }
    .arrow-box-articles {
      position: relative;
      background: #bbb193;
      border: 4px solid #f6f0ed;
      width: 12em;
      left: calc(1em - 4px);
    }
    .arrow-box-articles:after,
    .arrow-box-articles:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .arrow-box-articles:after {
      border-color: rgba(187, 177, 147, 0);
      border-bottom-color: #bbb193;
      border-width: 30px;
      margin-left: -30px;
    }
    .arrow-box-articles:before {
      border-color: rgba(246, 240, 237, 0);
      border-bottom-color: #f6f0ed;
      border-width: 36px;
      margin-left: -36px;
    }
    .arrow-box-articles .more {
      width: 8em;
      left: calc(50% - 5em);
    }
    .outer-wrap {
      grid-template-areas:
        "main sidebar"
        "footer footer";
    }
  }
}
/********************  ARTICLE - ITEM   **********************************************/
.title .title-margin {
  margin-top: 0;
}
.main-area article > p {
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 1em;
  color: #8a6c66;
  margin-bottom: 0;
  margin-top: 2em;
  padding: 1em;
}
article {
  margin-bottom: 2em;
}
.title-mid {
  text-align: left;
  color: #28536b;
  font-weight: bold;
  padding-left: 1em;
  line-height: 1;
  margin-bottom: 0;
}
article img {
  margin: 2em 0;
}
#upvote {
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  color: #28536b;
  letter-spacing: normal;
  margin-top: 1em;
  margin-left: 1em;
}

.upvotes-section .btn,
.centered .btn,
.btn-comment {
  margin-left: 1em;
  padding: 0.5em;
  font-family: inherit;
  background-color: #28536b;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.comment-title {
  margin: 1em 0 0 1em;
}
.comment {
  width: 87.5%;
  margin: 0 5%;
  border-bottom: 1px solid #28536b;
  padding: 16px;
}
#add-comment-form {
  border-bottom: 2px solid black;
  padding: 16px;
}

#add-comment-form h3 {
  margin-bottom: 16px;
}

#add-comment-form input,
textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

#add-comment-form button {
  width: 320px;
  padding: 0.5em;
  font-family: inherit;
  background-color: #28536b;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

input,
textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

@media screen and (min-width: 40em) {
  .main-area article > p {
    padding: 0.5em 3em;
  }
  .title-mid {
    padding-left: 2em;
  }
}
@media screen and (min-width: 60em) {
  .main-area article > p {
    padding: 0.5em 6em;
  }
}
/*************************  LOGIN PAGE ******************************************************/
.error {
  padding: 8px;
  border-radius: 4px;
  background-color: pink;
}
.centered {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered .btn {
  margin-left: 0;
  margin-right: 1em;
}
.link {
  color: #28536b;
  text-decoration: none;
}
.link:hover,
.link:focus {
  border-bottom: 2px solid;
}
.btn-comment {
  display: block;
}
.main-nav .btn {
  background-color: transparent;
  font-family: inherit;
  color: white;
  text-decoration: none;
  padding: 0.6em 1em;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  text-shadow: #fc0 1px 0 10px;
}
.main-nav .btn:hover {
  transform: scale(1.2);
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (min-width: 1400px) {
  header {
    margin: 0;
    position: fixed;
    top: 0;
    left: calc(50% - 700px);
    width: 100%;
    z-index: 100;
    max-width: 1400px;
  }
}

.social-icons {
  font-size: 1em;
  color: white;
  display: inline-block;
  padding: 0.5em 1em;
  transition: transform 0.3s ease-out;
}

.social-icons:hover {
  transform: scale(1.2);
}
.footer-link {
  color: white;
  padding: 1em 0;
  font-size: 0.9em;
  text-decoration: none;
}
